<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row header">
    <div class="col-md-8">
    <h1 class="main-title">Events Happening Right Now:</h1>
    </div>
    <div class="col-md-4">
      <%= link_to 'New Event', new_event_path %>
    </div>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Type</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <!-- Hard coded data -->
  <tr>
    <td>Hey</td>
    <td>Hey</td>
    <td>Hey</td>
    <td>Hey</td>
    <td>Hey</td>
  </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.location %></td>
        <td><%= event.type %></td>
        <td><%= event.start %></td>
        <td><%= event.end %></td>
        <!-- Do We need these links? -->
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>





<br>


