<p id="notice"><%= notice %></p>

<div class="container-fluid events-page">
  <div class="row header">
    <div class="col-md-8">
    <h1 class="main-title">Events Happening Right Now:</h1>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <%= button_to('New Event', new_event_path, method: :get, :class => 'btn btn-large btn-primary sexy-button')  %>
      </div>
    </div>
  </div>

  <div class="row events-table col-md-6 col-md-offset-3">

    <% @events.each do |event| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= event.name %></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            Location: <%= event.location %>
            <br>
            Game: <%= event.type %>
            <br>
            Start time: <%= event.start %>
            <br>
            End time: <%= event.end %>
          </div>
          <div class="col-md-6 col-md-offset-2">
            <div style="width:100%;max-width:100%;overflow:hidden;height:auto;color:red;">
              <div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;">
                <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=morden,+mb&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
              </div>
              <style>#embed-map-canvas .text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>





<br>


